* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a:link {
    color:#FF5D04 ;
    text-decoration: none;
    }

a:visited {
    color: #FF5D04;
}

body {
    padding:0; margin:0;
    background-color: #F4D2B5;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

main {
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    border-bottom-style: solid;
    border-top: black;
    border-bottom: #F4D2B5;
    background-color: #3B7424;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    font-size: 36px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
  }

  footer {
    padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 24px;
    padding-left: 0px;
    background-color: #F17942;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 36px;
    color: #634331;
}
